body { background-color: #CCFFFF;}
.container { width: 1000px}
h1 { padding: 1%; font-size: 28px; font-weight: bold; text-align: center; margin-left: 250px;}
h4 {padding: 1%; font-weight: bold;}
.ugeplan {font-size: 22px; font-weight: bold; text-align: center;}
.zealand { width: 100%;}
.peter { width: 70%;}
.header img { float: left; width: 200px; height: 100px;}
.header h2 { position: relative;}